$bgcolor:#222;
$primary-text:rgb(201, 191, 191);
$primary-text2:#fff;
$primary-text3:#ed944b;
$primary-text4:#f7f7f7;
$primary-text5:#777;
$primary-text6:rgba(231, 220, 220, 0.877);
$btn-color:rgb(32, 0, 240);
$primary-text7:rgb(248, 150, 68);
$slider-color:#f4f4f4;